Flask==1.0.2
Werkzeug==0.14.1
click==7.0
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
flask-restful==0.3.7
six==1.12.0
pytz==2018.9
aniso8601==0.82
flask-jwt==0.3.2
pyJWT==1.4.2
gunicorn==19.9.0
numpy==1.16.0
pandas==0.24.0
scikit-learn==0.20.2